/*1rem = 16px */
body{
margin : 0;
text-align: center;
font-family: 'Merriweather', serif;
color:#ffffc7;
}
h1{
font-size: 5.7rem;
font-family: 'Sacramento', cursive;
line-height: 25px;
margin-top: 50px auto 0 auto;
}
h2 {
font-family: 'Montserrat', sans-serif;
font-size: 2.2rem;
font-weight: normal;
}
h3{
font-family: 'Montserrat', sans-serif;
}
p{
font-family: 'Montserrat', sans-serif;
font-size: 18px;
}

.top-container{
margin-bottom:0;
padding-top:100px;
padding: 5%;
background-color: #233e8b;
position:relative;
}
.middle-container{
background-color: #1eae98;
margin-top:0;
}
.bottom-container{
background-color:#a9f1df;
}
.imagesTop{
display: inline;
}
.bottom-cloud{
position:absolute;
left:300px;
bottom:300px;
}
.top-cloud{
position: absolute;
right:300px;
top:50px;
}
.myPic{
width: auto;
height: 10rem;
border-radius:25px;
margin-top:2rem;
}
.skill-row{
width: 50%;
height: auto;
line-height:200%;
margin:75px auto 75px auto;
text-align: left;
}
.java-img{
width: 25%;
height: auto;
float: left;
}
.blender-img{
border-radius:25px;
width: 25%;
height: auto;
float: right;
}
.reference{
font-size:10px;
}
